body {
    background-color: rgb(230, 204, 199);
}

.links a:hover {
    text-decoration: underline;
}

.container {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
}

table th,
tr,
td {
    border: 1px solid rgb(82, 82, 82);
    padding: 5px;
}

table td {
    font-size: 20px;
    height: 30px;
}

table th {
    text-align: left;
    height: 50px;
    font-size: 25px;
}

.but {
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 60px;
    height: 40px;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}