.nevbar {
    background-color: rgb(148, 13, 13);
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 20px;
}

.logo h2,
.links a {
    margin: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* massages */
.success-msg {
    background-color: rgb(193, 214, 171);
    color: green;
    height: 40px;
    border: 1px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.error-msg {
    background-color: rgb(233, 173, 173);
    color: rgb(128, 0, 0);
    height: 40px;
    border: 1px solid rgb(197, 154, 146);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}