body{
    background-color: rgb(209, 196, 221);
    text-align: center;
}
.navbar {
    background-color: rgb(50, 189, 50);
    padding: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1{
    margin: 10px;
    align-self:;
}
.container {
    margin: 20px 30% 20px 30%;
}
.container form{
    display: flex;
    flex-direction: column;
}
.right-align{
    text-align: right;
    font-size: 20px;
    color: black;
}
.container form input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 25px;
}
.container form button{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    background-color: rgb(50, 189, 50);
}

/* dashbord */
.nav-items{
    margin-right: 50px;
}
.nav-items a{
    padding: 10px;
    font-size: 20px;
    color: black;
}