<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="/css/addEmp.css">
</head>
<body>
    <%- include('partials/nevbar.ejs') -%>
    <form action="/employee/add" method="POST">
        <Label><h1>Add New Employee</h1></Label>
        <input type="text" name="name" id="emp-name" placeholder="Enter employee name"> <br>
        <input type="text" name="designation" id="emp-desig" placeholder="Enter employee designation"> <br>
        <input type="number" name="salary" id="emp-sal" placeholder="Enter employee Salary"> <br>
        <button type="submit">Add Employee</button>
    </form>
</body>