<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('partials/nevbar.ejs') -%>
    <div class="container">
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Operations</th>
            </tr>
            <% employ.forEach((emp) =>{ %>
                <tr>
                    <td><%= emp.name %></td>
                    <td><%= emp.designation %></td>
                    <td><%= emp.salary %></td>
                    <td>
                        <button class="but green-bg">Edit</button>
                        <button class="but red-bg">Delete</button>
                    </td>
                </tr>
            <% }) %>


        </table>
    </div>
</body>

</html>