<link rel="stylesheet" href="/css/partial.css">
<div class="nevbar">
    <div class="logo">
        <h2>Employee Management System</h2>
    </div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/employee/add">Add Employee</a>
        <a href="/employee/search">Search Employee</a>
    </div>
</div>