<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title%>
    </title>

</head>
<style>
    h1 {
        background-color: burlywood;
    }
</style>

<body>
    <h1>Render from ejs</h1>
    <a href="http://localhost:8000/practice">Got Practice</a>
</body>

</html>