<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title%>
    </title>

</head>
<link rel="stylesheet" href="/css/home.css">

<body>

    <h1>Render from ejs</h1>
    <a href="http://localhost:8000/practice">Got Practice</a>

    <h1 id="main-head"> Contact List</h1>
    <ul>
        <% for(let i of contact_list) {%>
            <li>
                <span id="name">
                    <%= i.name %>
                </span>
                <span id="phone">
                    <%= i.phone%>
                </span>

            </li>
            <% } %>
    </ul>
    <div>
        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter Phone" required>

            <button type="submit">Add</button>
        </form>

    </div>

    <script type="text/javascript" src="/js/home.js"></script>

</body>

</html>