<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome!</h1>
    <ul>
        <% for(let i=10;i<16;i++) { %>
            <li>
                <%= i %>
            </li>
            <% } %>
    </ul>
    <% if (false) {%>
        <h1>Print true</h1>
        <%}else{%>
            <h1>Print false</h1>
            <%}%>

</body>

</html>